@import 'reset';
body {
    background: $lightGreen;
    height: 100vh;
    overflow-x: hidden;
    padding: 0 5px 0 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        margin-top: 50px;
        margin-bottom: 40px;
        @include desktop-screen{
            margin-top: 163px;
        }
    }

    .main-card { 
        padding: 32px 32px 0 32px;
        background-color: $white;
        box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
        border-radius: 25px 25px 0px 0px;
        width: 100%;

        @include desktop-screen{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 239px;
            border-radius: 25px 25px 25px 25px;
            // align-items: center;

            .part-A{
                max-width: 379px;
                max-height: 388px;
            }
            .part-B{
                min-width: 413px;
                min-height: 417px;
            }
        }

        input[type=text]{
            @include fontFamily(700, 24px, 36px, $darkGreen);
            text-align: right;
            padding: 0 16px 0 1px;
            width: 100%;
            height: 48px;
            background: #F3F9FA;
            border-radius: 5px;
            border: none;
            
        }

        input[type=number]{
            @include fontFamily(700, 24px, 36px, $darkGreen);
            text-align: right;
            padding: 0 16px 0 1px;
            width: 100%;
            height: 48px;
            background: #F3F9FA;
            border-radius: 5px;
            border: none;
            
        }

        .bill-section {
            position: relative;
            margin-bottom: 32px;
            @include desktop-screen{
                margin-bottom: 0;
            }

            p {
                margin-bottom: 16px;
            }
            .rand-icon{
                position: relative;
                top: -37px;
                right: -16px;
                @include desktop-screen{
                    margin-bottom: -15px;
                }
                p{
                    @include fontFamily(700, 20px, 24px, #9EBBBD);
                }
            }
        }

        .selectTip-section {
            margin-bottom: 32px;

            p {
                margin-bottom: 16px;
            }

            .button-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 16px;

                @include desktop-screen{
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    row-gap: 14px;
                    column-gap: 16px;
                }
            }
        }
        .numberOfPeople-section {
            position: relative;
            margin-bottom: 32px;
            p {
                margin-bottom: 16px;
            }
            img {
                position: relative;
                top: -33px;
                right:-16px;
            }
        }

        .tipDisplay-section{
            padding: 37px 24px 0 24px;
            background-color: $darkGreen;
            border-radius: 15px;
            margin-bottom: 24px;
            width: 100%;
            @include desktop-screen{
                padding: 40px 40px 0 40px;
                margin-bottom: 24px;  
            }

            .tip-amount{
                margin-bottom:24px;
            }
            .total{
                margin-bottom:32px;
                @include desktop-screen{
                    margin-bottom: 133px; 
                }
            }
        }
    }
}




